extends ../../layouts/main/main

block var
  - const pageTitle = 'Toxin Hotel | Room Details'
  - const bodyStyle = 'room-details'

block content
  .room-details__cover
    img.room-details__cover-image1

  .wrapper.catalog__wrapper


