extends ../../layouts/main/main

include ../../layouts/sign-in/sign-in

block var
  - var pageTitle = 'Toxin Hotel | Sign In'
  - var bodyStyle = 'login'

block content
  .login__cover
    .wrapper.login__wrapper
      +signIn({
        formName: 'sign-in',
        action: '#',
        class: 'login__form'
      })
