extends ../../layouts/main/main

include ../../layouts/footer/footer
include ../../layouts/header/header
include ../../layouts/search-room/search-room.pug

block var
  - var pageTitle = 'Toxin Hotel'
  - var bodyStyle = 'landing'

block header
  +header({
    class: 'landing__header',
    navItems: [
      { title: 'О нас', href: '#' },
      {
        title: 'Услуги', href: '#', subItems: [
          { title: 'Одиночные номера', href: '#' },
          { title: 'Двуместные номера', href: '#' },
          { title: 'Апартаменты', href: '#' },
          { title: 'Ресторан', href: '#' }
        ]
      },
      { title: 'Вакансии', href: '#' },
      { title: 'Новости', href: '#' },
      {
        title: 'Соглашения', href: '#', subItems: [
          { title: 'Условия обслуживания', href: '#' },
          { title: 'Договор', href: '#' }
        ]
      },
    ],
    isAuthorized: false,
    login: 'Войти',
    register: 'Зарегистрироваться'
  })

block content
  .landing__cover
    .wrapper.landing__wrapper
      +searchRoom({
        formName: 'search-room',
        action: '#',
        class: 'landing__search-room',
        startDate: '2020-5-19',
        endDate: '2020-5-23',
        visitors: [
          { name: 'adults', title: 'Взрослые', value: 2 },
          { name: 'children', title: 'Дети', value: 1 },
          { name: 'infants', title: 'Младенцы', value: 0 }
        ]
      })

      .landing__cover-caption
        | Лучшие номера для вашей работы, отдыха и просто вдохновения

block footer
  +footer({
    class: 'landing__footer',
    aboutUs: `Бронирование номеров в лучшем отеле 2019 года
      по версии ассоциации «Отельные взгляды»`,
    navSections: [
      {
        title: 'Навигация', items: [
          { title: 'О нас', href: '#' },
          { title: 'Новости', href: '#' },
          { title: 'Служба поддержки', href: '#' },
          { title: 'Услуги', href: '#' }
        ]
      },
      {
        title: 'О нас', items: [
          { title: 'О сервисе', href: '#' },
          { title: 'Наша команда', href: '#' },
          { title: 'Вакансии', href: '#' },
          { title: 'Инвесторы', href: '#' }
        ]
      },
      {
        title: 'Служба поддержки', items: [
          { title: 'Соглашения', href: '#' },
          { title: 'Сообщество', href: '#' },
          { title: 'Связь с нами', href: '#' }
        ]
      }
    ],
    subscription: {
      title: 'Подписка',
      caption: 'Получайте специальные предложения и новости сервиса',
      placeholder: 'Email'
    },
    copyright: 'Copyright © 2018 Toxin Отель. Все права защищены',
    social: {
      twitter: '#',
      facebook: '#',
      instagram: '#'
    }
  })
