extends ../../layouts/main/main

include ../../layouts/search-room/search-room.pug

block var
  - var pageTitle = 'Toxin Hotel'
  - var bodyStyle = 'landing'

block content
  .landing__cover
    .wrapper.landing__wrapper
      +searchRoom({
        formName: 'search-room',
        action: '#',
        class: 'landing__search-room',
        startDate: '2020-5-19',
        endDate: '2020-5-23',
        visitors: [
          { name: 'adults', title: 'Взрослые', value: 2 },
          { name: 'children', title: 'Дети', value: 1 },
          { name: 'infants', title: 'Младенцы', value: 0 }
        ]
      })

      .landing__cover-caption
        | Лучшие номера для вашей работы, отдыха и просто вдохновения
