@import "../../assets/style/constants";
@import "../../assets/style/mixins";

.register {
  padding: 70px 0 0 0;

  @media screen and (max-width: $tabletBreakpoint) {
    padding: 50px 0 0 0;
  }

  &__header {
    position: fixed;
    z-index: 800;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid rgba(31, 32, 65, .1);
  }

  &__cover {
    min-height: 48.75vw;
    padding: 28px 0;
    background: url("../../assets/images/backgrounds/2-min.jpg") no-repeat bottom;
    background-size: 100%;

    & [class$="wrapper"] {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    @media screen and (max-width: $smallDesktopBreakpoint + 150px) {
      background-size: auto 120%;
    }

    @media screen and (max-width: $tabletBreakpoint) {
      min-height: calc(100vh - 50px);
      background-size: auto 100%;
    }
  }

  &__form {
    width: 100%;
    max-width: 380px;
    box-shadow: 0 0 25px rgba(black, .2);
    border: 1px solid rgba(black, .12);
    border-radius: 4px;

    @media screen and (max-width: $mobileBreakpoint) {
      max-width: 100%;
    }
  }

  &__footer {
    border-top: 1px solid rgba(31, 32, 65, .1);
  }
}
