extends ../../layouts/main/main

include ../../layouts/sign-up/sign-up

block var
  - var pageTitle = 'Toxin Hotel | Sign Up'
  - var bodyStyle = 'register'

block content
  .register__cover
    .wrapper.register__wrapper
      +signUp({
        formName: 'sign-up',
        action: '#',
        class: 'register__form'
      })
