include ../../components/buttons/buttons
include ../../components/text-field/text-field

mixin signIn(options)
  form.sign-in(
    name= options.formName
    action= options.action
    class= options.class)

    .sign-in__title.heading.heading--level1 Войти

    +textField({
      class: 'sign-in__email',
      name: 'email',
      placeholder: 'Email',
      inputMode: 'email'
    })

    +textField({
      class: 'sign-in__password',
      type: 'password',
      name: 'password',
      placeholder: 'Пароль'
    })

    .sign-in__action
      +buttonAction({
        type: 'submit',
        title: 'Войти'
      })

    .sign-in__new-account
      .sign-in__new-account-message Нет аккаунта на&nbsp;Toxin?
      .sign-in__new-account-create
        +buttonSecondary({
          title: 'Создать'
        })
