@import "../../assets/style/constants";
@import "../../assets/style/mixins";

.sign-in {
  z-index: -2;
  padding: 40px 30px 30px 30px;
  background: white;

  &__title {
    margin-bottom: 20px;
  }

  &__email {
    margin-bottom: 10px;
  }

  &__password {
    margin-bottom: 20px;
  }

  &__action {
    margin-bottom: 30px;
  }

  &__new-account {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-message {
      flex: 1;
      font-size: 14px;
      line-height: 18px;
      color: $colorBlack;
    }

    &-create {
      margin-left: 10px;
    }
  }
}
