$smallDesktopBreakpoint: 1200px;
$tabletBreakpoint: 900px;
$mobileBreakpoint: 600px;

$colorBlack: #1f2041;
$colorDark75: rgba($colorBlack, .75);
$colorDark50: rgba($colorBlack, .5);
$colorDark25: rgba($colorBlack, .25);
$colorDark5: rgba($colorBlack, .05);

$colorPurple: #bc9cff;
$colorGreen: #6fcf97;

$standardTransition: .2s ease-in-out;
