@import "./constants";
@import "./mixins";

body {
  display: flex;
  flex-direction: column;
  background: white;
  font-size: 14px;
  line-height: 1.7;
  color: $colorDark75;
  @include font("montserrat");
}

.wrapper {
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 140px;

  @media screen and (max-width: $smallDesktopBreakpoint) {
    padding: 0 64px;
  }

  @media screen and (max-width: $tabletBreakpoint) {
    padding: 0 32px;
  }

  @media screen and (max-width: $mobileBreakpoint) {
    padding: 0 16px;
  }
}

/* TEXT ELEMENTS */

.heading {
  font-weight: bold;
  color: $colorBlack;

  &--level1 {
    font-size: 24px;
    line-height: 30px;
    @include font("open sans");
  }

  &--level2 {
    font-size: 19px;
    line-height: 24px;
    @include font("open sans");
  }

  &--level3 {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &--level4 {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: $colorDark75;
  }
}

.paragraph {
  font-size: 14px;
  line-height: 24px;
  color: $colorDark75;
}

.list {
  & > * {
    position: relative;
    margin: 0 0 10px 20px;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: -20px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background: $colorDark25;
    }
  }
}

/* BUTTONS */

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  user-select: none;

  &--primary,
  &--secondary,
  &--action {
    height: 44px;
    border: 2px solid transparent;
    border-radius: 22px;
    padding: 1px 18px 0 18px;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: -2px;
      border-radius: inherit;
      background: $primaryGradient;
    }

    &:hover::before {
      opacity: .5;
      transition: all $standardTransition;
    }
  }

  &--primary {
    width: auto;
    color: white;
  }

  &--secondary {
    background: white;
    background-clip: padding-box;
    color: $colorPurple;
  }

  &--inline {
    margin: -5px;
    padding: 5px;
    color: $colorPurple;

    &:hover {
      color: $colorDark50;
      transition: all $standardTransition;
    }
  }

  &--action {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 44px;
    padding-left: 44px;
    text-align: center;
    color: white;
  }

  &__arrow-forward::after {
    z-index: 1;
    font-family: "material icons", sans-serif;
    color: white;
    @include arrowForward;
  }
}

/* ICONS */

.icon {
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  font-family: "material icons", sans-serif;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  user-select: none;
}
