@import "../../assets/style/constants";
@import "../../assets/style/mixins";

.order-room {
  padding: 40px 30px 30px 30px;
  background: white;

  /* KEY INFO */

  &__key-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  &__room-number {
    margin-right: 5px;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: $colorBlack;
  }

  &__room-type {
    margin-bottom: 3px;
    color: $colorPurple;
  }

  &__price-pro-day {
    margin-bottom: 2px;
    margin-left: auto;
    line-height: 18px;
    text-align: right;
    color: $colorDark50;

    & span {
      font-size: 14px;
      font-weight: bold;
    }
  }

  /* DATES AND VISITORS */

  &__calendar-dates,
  &__visitors {
    margin-bottom: 20px;
  }

  &__calendar {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    left: 0;
  }

  /* ADDITIONAL INFO */

  &__calculation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  &__fees {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;

    &-caption {
      width: calc(100% / 3 * 2 + 7px);
    }

    &-info {
      margin: 0 5px;
      font-size: 24px;
      font-weight: normal;
      line-height: 1;
      color: $colorDark25;
      transform: rotate(180deg);
      cursor: help;
    }

    &-total {
      margin-left: auto;
    }

    &--last {
      margin-bottom: 30px;
    }
  }

  &__total {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;

    &-caption,
    &-price {
      position: relative;
      background: white;
    }

    &-caption {
      padding-right: 5px;
    }

    &-price {
      padding-left: 5px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 5px;
      width: 100%;
      height: 100%;
      border-bottom: 1px dashed $colorDark25;
    }
  }
}
