mixin like(options)
  .like.js__like(
    class= options.class
    data-name= options.name
    data-count= options.likesCount
    data-isliked= options.isLiked)

    .like__symbol.icon
    .like__count.js__like-count
