extends ../../layouts/main/main

block var
  - var pageTitle = 'Form Elements'
  - var bodyStyle = 'form-elements'

block header
  include ../../layouts/header/header

block content
  .wrapper.form-elements__wrapper
    include layouts/form-elements.row-1.pug
    include layouts/form-elements.row-2.pug
