@import "../../assets/style/constants";

.form-elements {
  background: white;

  /* GENERAL */

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 30px;
  }

  &__column {
    width: calc(100% / 3 - 200px / 3);

    &--wide {
      width: calc(100% / 3 * 2 - 182px / 3);

      @media screen and (max-width: $tabletBreakpoint) {
        width: 100%;
      }
    }

    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(8) {
      margin-left: 52px;

      @media screen and (max-width: $smallDesktopBreakpoint) {
        margin-left: 0;
      }
    }

    &.with-wide-margin {
      margin-bottom: 102px;

      @media screen and (max-width: $smallDesktopBreakpoint) {
        margin-bottom: 41px;
      }
    }

    @media screen and (max-width: $smallDesktopBreakpoint) {
      width: calc(100% / 2 - 50px);
      margin-bottom: 30px;
    }

    @media screen and (max-width: $tabletBreakpoint) {
      width: calc(100% / 2 - 20px);
    }

    @media screen and (max-width: $mobileBreakpoint) {
      width: 100%;
    }
  }

  &__subtitle {
    margin-bottom: 16px;
  }

  &__narrow-column {
    width: 100%;
    max-width: 266px;

    @media screen and (max-width: $tabletBreakpoint) {
      max-width: 100%;
    }
  }

  /* ROW 1 */

  &__text-field {
    margin-bottom: 21px;
  }

  &__calendar {
    margin: 41px 0;
  }

  &__checkboxes {
    margin-bottom: 41px;
  }

  &__checkbox {
    margin-bottom: 5px;
  }

  &__radios {
    display: flex;
    margin-top: -2px;
    margin-bottom: 37px;
  }

  &__radio {
    margin-right: 20px;
  }

  &__toggle {
    margin-top: -2px;
    margin-bottom: 10px;

    &--last {
      margin-bottom: 40px;
    }
  }

  &__likes {
    margin-bottom: 38px;
  }

  &__like {
    margin-right: 10px;
  }

  &__rates {
    margin-bottom: 40px;
  }

  &__rate {
    margin-right: 20px;
  }

  &__buttons {
    display: flex;
    margin-bottom: 30px;

    &--last {
      position: relative;
      margin-bottom: 40px;
    }
  }

  &__button {
    margin-right: 18px;

    &--inline {
      margin: -5px 20px 0 0;
    }
  }

  &__pagination {
    padding-bottom: 10px;
    overflow-x: auto;

    @media screen and (max-width: $smallDesktopBreakpoint) {
      margin-bottom: 21px;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: $colorDark5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: $colorDark25;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $colorDark50;
      transition: all $standardTransition;
    }
  }

  /* ROW 2 */

  &__dropdown {
    margin-bottom: 22px;

    &--is-open {
      margin-bottom: 171px;
    }
  }

  /* ROW 3 */

  &__details {
    margin-bottom: 40px;

    &:first-child {
      margin-top: -2px;
    }

    &:last-child {
      margin-bottom: -23px;

      @media screen and (max-width: $tabletBreakpoint) {
        margin-bottom: 0;
      }
    }
  }

  &__checkbox-rich {
    margin-bottom: 12px;
  }

  /* ROW 4 */

  &__advantage {
    padding: 20px 0;
    border-bottom: 1px solid rgba($colorBlack, .1);

    &:first-child {
      margin-top: -10px;
    }
  }

  &__review {
    margin-top: 17px;
  }
}
