@import "../../assets/style/constants";
@import "../../assets/style/mixins";

@media screen and (max-width: 1400px) {
  .catalog {
    &__item {
      width: calc(100% / 2 - 12px);
    }
  }
}

@media screen and (max-width: 1000px) {
  .catalog {
    &__item {
      width: 100%;
    }
  }
}

@media screen and (max-width: $tabletBreakpoint) {
  .catalog {
    &__filters {
      min-width: 200px;
      margin-right: 36px;
    }
  }
}

@media screen and (max-width: $mobileBreakpoint) {
  .catalog {
    &__wrapper {
      flex-direction: column;
    }

    &__filters,
    &__search-result {
      width: 100%;
    }

    &__filters {
      width: calc(100% + 32px);
      margin: 0 -16px;
      box-shadow: 0 10px 20px rgba(31, 32, 65, .05);
      padding: 0 16px 30px 16px;
    }

    &__search-result {
      padding-top: 30px;
    }
  }
}
