extends ../../layouts/main/main

include ../../layouts/footer/footer
include ../../layouts/footer.minimal/footer.minimal.pug
include ../../layouts/header/header

block var
  - const pageTitle = 'Headers & Footers'
  - const bodyStyle = 'headers-and-footers'

block header
  include ../../layouts/header.ui-kit/header.ui-kit.pug

block content
  .headers-and-footers__wrapper

    -
      const navItems = [
        { title: 'Home', href: '#', isActive: true },
        { title: 'About us', href: '#' },
        {
          title: 'Services', href: '#', subItems: [
            { title: 'Single Rooms', href: '#' },
            { title: 'Double Rooms', href: '#' },
            { title: 'Apartments', href: '#' }
          ]
        },
        { title: 'Careers', href: '#' },
        { title: 'News', href: '#' },
        { title: 'Documentation', href: '#' }
      ]

    +header({
      class: 'headers-and-footers__box',
      navItems,
      isAuthorized: false,
      login: 'Login',
      register: 'Register'
    })

    +header({
      class: 'headers-and-footers__box',
      navItems,
      isAuthorized: true,
      login: 'Login',
      register: 'Register'
    })

    -
      const footer = {
        class: 'headers-and-footers__box',
        aboutUs: `Lorem ipsum dolor sit amet consectetur adipiscing
          elit aliquam eget nullam pellentesque aliquam curabitur cociis`,
        navSections: [
          {
            title: 'Navigation', items: [
              {title: 'About us', href: '#'},
              {title: 'News', href: '#'},
              {title: 'Support', href: '#'},
              {title: 'Products', href: '#'}
            ]
          },
          {
            title: 'About us', items: [
              {title: 'Who we are', href: '#'},
              {title: 'Our team', href: '#'},
              {title: 'Careers', href: '#'},
              {title: 'Investors', href: '#'}
            ]
          },
          {
            title: 'Support', items: [
              {title: 'Documentation', href: '#'},
              {title: 'Community', href: '#'},
              {title: 'Get in Touch', href: '#'}
            ]
          }
        ],
        subscription: {
          title: 'Subscribe to our newsletter',
          caption: 'Receive our latest news and promotions in your inbox!',
          placeholder: 'Your email address'
        },
        copyright: 'Copyright © 2018 Toxin UI Kit. All rights reserved',
        social: {
          twitter: '#',
          facebook: '#',
          instagram: '#'
        }
      }

    +footer(footer)

    +footerMinimal(footer)


