@import "../../assets/style/constants";
@import "../../assets/style/mixins";

.headers-and-footers {
  background: #e5e5e5;

  &__wrapper {
    margin: 42px auto 130px auto;
  }

  &__box {
    margin-bottom: 40px;
    box-shadow: 0 10px 20px rgba($colorBlack, .05);
  }
}
