extends ../../layouts/main/main

include ../../components/buttons/buttons
include ../../layouts/header/header

block var
  - const pageTitle = 'Headers & Footers'
  - const bodyStyle = 'headers-and-footers'

block header
  include ../../layouts/header.ui-kit/header.ui-kit.pug

block content
  .headers-and-footers__wrapper

    -
      const navItems = [
        { title: 'Home', href: '#', isActive: true },
        { title: 'About us', href: '#' },
        { title: 'Services', href: '#', subItems: [
          { title: 'Single Rooms', href: '#' },
          { title: 'Double Rooms', href: '#' },
          { title: 'Apartments', href: '#' }
          ] },
        {title: 'Careers', href: '#'},
        {title: 'News', href: '#'},
        {title: 'Documentation', href: '#'}
      ]

    +header({
      class: 'headers-and-footers__header',
      navItems,
      isAuthorized: false
    })

    +header({
      class: 'headers-and-footers__header',
      navItems,
      isAuthorized: true
    })
