@import "../../assets/style/constants";
@import "../../assets/style/mixins";

.checkbox-rich {
  display: inline-flex;
  align-items: flex-start;

  &__field {
    margin-right: 10px;
    @include checkboxField;
  }

  &__title-and-caption {
    flex: 1;
  }

  &__title {
    margin: 2px 0 5px 0;
    font-size: 14px;
    line-height: 18px;
    color: $colorDark75;
  }

  &__caption {
    font-size: 12px;
    line-height: 14px;
    color: $colorDark50;
  }
}
