@import "../../assets/style/constants";
@import "../../assets/style/mixins";

.main {
  padding-top: 70px;

  &.is-inactive {
    overflow: hidden;
  }

  &__loader {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

    &-icon {
      width: 60px;
      height: 60px;
    }

    &.is-inactive {
      z-index: -1000;
      visibility: hidden;
      opacity: 0;
      transition: all $standardTransition;
    }
  }

  &__header {
    position: fixed;
    z-index: 800;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid rgba(31, 32, 65, .1);
  }

  &__footer {
    border-top: 1px solid rgba(31, 32, 65, .1);
  }

  @media screen and (max-width: $tabletBreakpoint) {
    padding-top: 50px;
  }
}
