@import "../../assets/style/constants";
@import "../../assets/style/mixins";

.main {
  padding-top: 70px;

  &__header {
    position: fixed;
    z-index: 800;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid rgba(31, 32, 65, .1);
  }

  &__footer {
    border-top: 1px solid rgba(31, 32, 65, .1);
  }

  @media screen and (max-width: $tabletBreakpoint) {
    padding-top: 50px;
  }
}
