@import "../../assets/style/constants";
@import "../../assets/style/mixins";

.dd-dates-filter {
  position: relative;

  &__title {
    margin-bottom: 5px;
    cursor: default;
  }

  &__field {
    position: relative;
    cursor: default;
    @include textField;

    &-text {
      margin-right: 29px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &::after {
      @include expandMore(44px, 24px, $colorDark50);
    }
  }

  &__calendar {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    left: 0;
  }
}
