include ../../../components/dropdown/dropdown

// COLUMN LEFT

.form-elements__column

  .form-elements__narrow-column

    +dropdown({
      class: 'form-elements__dropdown',
      name: 'dropdown__advantages--is-closed',
      title: 'Dropdown',
      caption: 'Default',
      placeholder: 'Выберите удобства',
      values: [
        {
          name: 'bedrooms', title: 'Спальни',
          wordForms: 'спальня, спальни, спален', value: 2
        },
        {
          name: 'beds', title: 'Кровати',
          wordForms: 'кровать, кровати, кроватей', value: 2
        },
        {
          name: 'bathrooms', title: 'Ванные комнаты',
          wordForms: 'ванная комната, ванные комнаты, ванных комнат', value: 0
        }
      ],
      sumMode: 'byCategory'
    })

    +dropdown({
      class: 'form-elements__dropdown--is-open',
      name: 'dropdown__advantages--is-open',
      title: 'Dropdown',
      caption: 'Expanded',
      placeholder: 'Выберите удобства',
      values: [
        {
          name: 'bedrooms', title: 'Спальни',
          wordForms: 'спальня, спальни, спален', value: 2
        },
        {
          name: 'beds', title: 'Кровати',
          wordForms: 'кровать, кровати, кроватей', value: 2
        },
        {
          name: 'bathrooms', title: 'Ванные комнаты',
          wordForms: 'ванная комната, ванные комнаты, ванных комнат', value: 0
        }
      ],
      sumMode: 'byCategory',
      isOpenForced: true
    })



// COLUMN MIDDLE

.form-elements__column

  +dropdown({
    class: 'form-elements__text-field',
    name: 'dropdown--visitors-2',
    title: 'Dropdown',
    placeholder: 'Сколько гостей',
    values: [
      {name: 'adults', title: 'Взрослые', value: 0},
      {name: 'children', title: 'Дети', value: 0},
      {name: 'infants', title: 'Младенцы', value: 0}
    ],
    sumMode: 'all',
    wordForms: 'гость, гостя, гостей',
    hasButtons: true
  })



// COLUMN RIGHT

.form-elements__column

  +dropdown({
    class: 'form-elements__text-field',
    name: 'dropdown--visitors-3',
    title: 'Dropdown',
    placeholder: 'Сколько гостей',
    values: [
      {name: 'adults', title: 'Взрослые', value: 2},
      {name: 'children', title: 'Дети', value: 1},
      {name: 'infants', title: 'Младенцы', value: 0}
    ],
    sumMode: 'all',
    wordForms: 'гость, гостя, гостей',
    hasButtons: true
  })
