include ../../../components/text-field/text-field
include ../../../components/calendar/calendar
include ../../../components/dropdown/dropdown
include ../../../components/dropdown.dates/dropdown.dates.pug
include ../../../components/dropdown.dates-filter/dropdown.dates-filter.pug
include ../../../components/checkbox/checkbox
include ../../../components/radio/radio
include ../../../components/toggle/toggle
include ../../../components/like/like
include ../../../components/rate/rate
include ../../../components/range/range
include ../../../components/pagination/pagination

// COLUMN LEFT

.form-elements__column.with-wide-margin

  +textField({
    class: 'form-elements__text-field',
    name: 'text-field--default',
    title: 'Text field',
    caption: 'Default',
    placeholder: 'Email',
    inputMode: 'email'
  })

  +textField({
    class: 'form-elements__text-field',
    name: 'text-field--focused',
    title: 'Text field',
    caption: 'Hover / Focus',
    placeholder: 'Text field',
    value: 'This is pretty awesome'
  })

  +dropdown({
    class: 'form-elements__text-field',
    name: 'dropdown--visitors',
    title: 'Dropdown',
    caption: 'Default',
    placeholder: 'Сколько гостей',
    values: [
      {name: 'adults', title: 'Взрослые', value: 0},
      {name: 'children', title: 'Дети', value: 0},
      {name: 'infants', title: 'Младенцы', value: 0}
    ],
    sumMode: 'all',
    wordForms: 'гость, гостя, гостей',
    hasButtons: true
  })

  +textField({
    class: 'form-elements__text-field',
    name: 'text-field--masked',
    title: 'Masked Text field',
    caption: 'Default',
    placeholder: 'ДД.ММ.ГГГГ',
    inputMode: 'number'
  })

  +dropdownDates({
    class: 'form-elements__calendar',
    calendarName: 'calendar',
    startTitle: 'Date Dropdown',
    endTitle: 'Date Dropdown',
    startPlaceholder: 'ДД.ММ.ГГГГ',
    endPlaceholder: 'ДД.ММ.ГГГГ'
  })

    +calendar({
      name: 'calendar',
      style: 'dd-dates__calendar',
      end: '2020-5-19'
    })

  .form-elements__narrow-column

    +dropdownDatesFilter({
      class: 'form-elements__calendar',
      calendarName: 'calendar-2',
      title: 'Filter Date Dropdown',
      placeholder: 'Выберите даты'
    })

      +calendar({
        name: 'calendar-2',
        style: 'dd-dates-filter__calendar',
        start: '2020-5-19',
        end: '2020-5-23'
      })

    +textField({
      class: 'form-elements__subscription with-arrow',
      name: 'text-field--subscription',
      title: 'Subscription Text field',
      placeholder: 'Email',
      inputMode: 'email'
    })



// COLUMN MIDDLE

.form-elements__column

  // CHECKBOXES

  h3.form-elements__subtitle.heading.heading--level3 Checkbox Buttons

  -
    const checkboxes = [
      { name: 'checkboxes', value: 'smoking', title: 'Можно курить' },
      { name: 'checkboxes', value: 'pets', title: 'Можно с питомцами', isChecked: true },
      { name: 'checkboxes', value: 'visitors',
        title: 'Можно пригласить гостей (до 10 человек)', isChecked: true }
    ]

  .form-elements__checkboxes
    each checkbox in checkboxes
      +checkbox({
        class: 'form-elements__checkbox',
        name: checkbox.name,
        value: checkbox.value,
        title: checkbox.title,
        isChecked: checkbox.isChecked
      })

  // RADIOS

  h3.form-elements__subtitle.heading.heading--level3 Radio Buttons

  -
    const radios = [
      { name: 'gender', value: 'male',
      title: 'Мужчина', isChecked: true },
      { name: 'gender', value: 'female',
      title: 'Женщина' }
    ]

  .form-elements__radios
    each radio in radios
      +radio({
        class: 'form-elements__radio',
        name: radio.name,
        value: radio.value,
        title: radio.title,
        isChecked: radio.isChecked
      })

  // TOGGLES

  h3.form-elements__subtitle.heading.heading--level3 Toggle

  +toggle({
    class: 'form-elements__toggle',
    name: 'toggles',
    value: 'toggle-1',
    title: 'Получать спецпредложения',
    isChecked: true
  })

  +toggle({
    class: 'form-elements__toggle--last',
    name: 'toggles',
    value: 'toggle-2',
    title: 'Получать спецпредложения'
  })

  // LIKES

  h3.form-elements__subtitle.heading.heading--level3 Like Button

  .form-elements__likes
    +like({
      class: 'form-elements__like',
      name: 'like--inactive',
      likesCount: 2
    })

    +like({
      class: 'form-elements__like',
      name: 'like--active',
      likesCount: 12,
      isLiked: 'true'
    })

  // RATES

  h3.form-elements__subtitle.heading.heading--level3 Rate Button

  .form-elements__rates
    +rate({
      class: 'form-elements__rate',
      name: 'rate--4stars',
      defaultValue: 4
    })

    +rate({
      class: 'form-elements__rate',
      name: 'rate--default'
    })



// COLUMN RIGHT

.form-elements__column

  // BUTTONS

  h3.form-elements__subtitle.heading.heading--level3 Buttons

  .form-elements__buttons
    .form-elements__button.btn.btn--primary Click me
    .form-elements__button.btn.btn--primary Click me

  .form-elements__buttons
    .form-elements__button.btn.btn--secondary Click me
    .form-elements__button.btn.btn--secondary Click me

  .form-elements__buttons
    .form-elements__button--inline
      .btn.btn--inline Click me
    .form-elements__button--inline
      .btn.btn--inline Click me

  .form-elements__buttons--last
    .btn.btn--action Перейти к оплате
    .btn__arrow-forward

  // PAGINATION

  h3.form-elements__subtitle.heading.heading--level3 Pagination

  .form-elements__pagination
    +pagination({
      name: 'pagination',
      itemsCount: 172,
      itemsOnPage: 12,
      currentPage: 1,
      wordForms: 'варианта аренды, вариантов аренды, вариантов аренды'
    })
