include ../../../components/advantage/advantage
include ../../../components/review/review

// COLUMN LEFT

.form-elements__column.with-wide-margin

  .form-elements__advantages

    +advantage({
      class: 'form-elements__advantage',
      icon: 'face',
      title: 'Комфорт',
      caption: 'Шумопоглащающие стены'
    })

    +advantage({
      class: 'form-elements__advantage',
      icon: 'city',
      title: 'Удобство',
      caption: 'Окно в каждой из спален'
    })



// COLUMN RIGHT

.form-elements__column--wide

  +review({
    class: 'form-elements__review',
    id: 1,
    name: 'Мурад Сарафанов',
    date: '5 дней назад',
    photo: '../../assets/images/reviews/murad.jpg',
    text: `Великолепный матрас на кровате в основной спальне! А пуфик вообще потрясающий.
      И стены действительно шумоподавляющие. Выкрикивал комплименты повару -
      никто не жаловался из соседей`,
    likesCount: 12,
    isLiked: 'true'
  })
