@import "../../assets/style/constants";
@import "../../assets/style/mixins";

.header {
  width: 100%;
  height: 70px;
  background: white;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    display: block;
    width: 130px;

    & img {
      height: 40px;
    }

    &:hover {
      opacity: .5;
      transition: all $standardTransition;
    }
  }

  &__nav {
    margin-left: auto;
    white-space: nowrap;
    text-overflow: ellipsis;

    /* NAV 1-LEVEL ITEMS */

    &-items {
      display: flex;
      font-size: 14px;
      line-height: 17px;
      color: $colorDark50;

      & li {
        position: relative;

        &:hover {
          .header__nav-subitems {
            z-index: 900;
            visibility: visible;
            opacity: 1;
            transition: all $standardTransition;
          }
        }
      }
    }

    &-item {
      display: block;
      margin: 0 -5px 0 25px;
      padding: 10px 5px;

      &.with-arrow {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: -10px;
        padding-right: 24px;

        &::after {
          pointer-events: none;
          @include expandMore(1em, 24px, $colorDark50);
        }
      }

      &.is-active {
        font-weight: bold;
        color: $colorDark50;
      }

      &:hover {
        color: $colorPurple;
        transition: all $standardTransition;

        &.with-arrow::after {
          color: $colorPurple;
          transition: all $standardTransition;
        }
      }
    }

    /* NAV 2-LEVEL ITEMS */

    &-subitems {
      position: absolute;
      z-index: -1;
      left: 30px;
      display: flex;
      flex-direction: column;
      width: 180px;
      box-shadow: 0 0 10px rgba(black, .1);
      border: 1px solid rgba(black, .1);
      border-radius: 4px;
      padding: 5px 10px;
      background: white;
      visibility: hidden;
      opacity: 0;

      &.is-active {
        z-index: 900;
        visibility: visible;
        opacity: 1;
        transition: all $standardTransition;
      }
    }

    &-subitem {
      display: block;
      width: 100%;
      margin: 5px 0;
      padding: 5px;

      &:hover {
        color: $colorPurple;
        transition: all $standardTransition;
      }
    }
  }

  /* USER */

  &__user {
    display: flex;
    flex-wrap: nowrap;

    &-current {
      display: flex;
      align-items: center;
      margin-left: 30px;
      border-left: 1px solid rgba($colorBlack, .1);
      padding-left: 30px;
      height: 30px;
    }

    &-name {
      display: block;
      margin: 0 -5px;
      padding: 10px 5px;
      font-size: 14px;
      line-height: 17px;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: $colorDark50;

      &:hover {
        color: $colorPurple;
        transition: all $standardTransition;
      }
    }

    &-login {
      margin-left: 25px;
    }

    &-register {
      margin-left: 20px;
    }
  }
}
