@import "../../assets/style/constants";
@import "../../assets/style/mixins";

.sign-up {
  padding: 40px 30px 30px 30px;
  background: white;

  &__title,
  &__birthday,
  &__offers {
    margin-bottom: 20px;
  }

  &__name,
  &__surname,
  &__email,
  &__password {
    margin-bottom: 10px;
  }

  &__genders {
    display: flex;
    margin-bottom: 20px;
  }

  &__gender {
    margin-right: 20px;
  }

  &__action {
    margin-bottom: 30px;
  }

  &__existing-account {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-message {
      flex: 1;
      font-size: 14px;
      line-height: 18px;
      color: $colorBlack;
    }

    &-sign-in {
      margin-left: 10px;
    }
  }
}
