extends ../../layouts/main/main

include ../../layouts/sign-in/sign-in
include ../../layouts/sign-up/sign-up

block var
  - const pageTitle = 'Cards'
  - const bodyStyle = 'cards'

block header
  include ../../layouts/header/header

block content
  .wrapper.cards__wrapper

    .cards__column

      +signUp({
        formName: 'sign-up',
        action: '#',
        class: 'cards__box'
      })

      +signIn({
        formName: 'sign-in',
        action: '#',
        class: 'cards__box'
      })

