extends ../../layouts/main/main

include ../../layouts/sign-in/sign-in

block var
  - const pageTitle = 'Cards'
  - const bodyStyle = 'cards'

block header
  include ../../layouts/header/header

block content
  .wrapper.cards__wrapper

    .cards__column

      +signIn({
        formName: 'sign-in',
        action: '#',
        class: 'cards__box'
      })

