extends ../../layouts/main.ui-kit/main.ui-kit.pug

include ../../components/calendar/calendar

include ../../layouts/order-room/order-room
include ../../layouts/room-card/room-card
include ../../layouts/search-room/search-room
include ../../layouts/sign-in/sign-in
include ../../layouts/sign-up/sign-up

block var
  - const pageTitle = 'Cards'
  - const bodyStyle = 'cards'

block header
  include ../../layouts/header.ui-kit/header.ui-kit.pug

block content
  .wrapper.cards__wrapper

    .cards__column

      // SEARCH ROOM

      +searchRoom({
        formName: 'search-room',
        action: '#',
        class: 'cards__box',
        visitors: [
          {name: 'adults', title: 'Взрослые', value: 0},
          {name: 'children', title: 'Дети', value: 0},
          {name: 'infants', title: 'Младенцы', value: 0}
        ]
      })

      // SIGN UP

      +signUp({
        formName: 'sign-up',
        action: '#',
        class: 'cards__box'
      })

    .cards__column

      // ORDER ROOM

      +orderRoom({
        formName: 'order-room',
        action: '#',
        class: 'cards__box',
        startDate: '2020-5-19',
        endDate: '2020-5-23',
        visitors: [
          {name: 'adults', title: 'Взрослые', value: 2},
          {name: 'children', title: 'Дети', value: 1},
          {name: 'infants', title: 'Младенцы', value: 0}
        ]
      })

      // SIGN IN

      +signIn({
        formName: 'sign-in',
        action: '#',
        class: 'cards__box'
      })

    .cards__column--narrow

      // CALENDAR

      +calendar({
        name: 'calendar--open-forced',
        class: 'cards__box cards__calendar',
        start: '2020-5-19',
        end: '2020-5-23',
        isOpenForced: true
      })

      // ROOM CARDS

      .cards__room-cards

        +roomCard({
          class: 'cards__room-card',
          href: '#',
          images: [
            '../../assets/images/rooms/1-min.jpg',
            '../../assets/images/rooms/3-min.jpg',
            '../../assets/images/rooms/4-min.jpg',
            '../../assets/images/rooms/5-min.jpg'
          ],
          roomNumber: 888,
          isLux: true,
          price: 9990,
          reviewsCount: 145
        })

        +roomCard({
          class: 'cards__room-card',
          href: '#',
          images: [
            '../../assets/images/rooms/2-min.jpg',
            '../../assets/images/rooms/6-min.jpg',
            '../../assets/images/rooms/7-min.jpg',
            '../../assets/images/rooms/8-min.jpg'
          ],
          roomNumber: 840,
          price: 9990,
          rate: 4,
          reviewsCount: 65
        })
