extends main/main
include ../components/text-field/text-field

block head
  title Form Elements

block content



  +textField({
    name: 'text-field--default',
    title: 'Text field',
    placeholder: 'Email'})

  +textField({
    name: 'text-field--focused',
    title: 'Text field',
    placeholder: 'Text field',
    value: 'This is pretty awesome'})

  ul.list
    li Нельзя с&nbsp;питомцами
    li Без&nbsp;вечеринок и&nbsp;мероприятий
    li Время прибытия&nbsp;&mdash; после 13:00, выезд&nbsp;&mdash; до&nbsp;12:00

