@import "../../assets/style/constants";
@import "../../assets/style/mixins";

.text-field {
  position: relative;
  display: block;

  &__title {
    margin-bottom: 5px;
  }

  &__caption {
    position: absolute;
    top: 0;
    right: 0;
    @include textFieldCaption;
  }

  &__field {
    @include textField;

    &::-webkit-input-placeholder {
      opacity: 1;
      color: $colorDark25;
      transition: opacity $standardTransition;
    }

    &::-moz-placeholder {
      opacity: 1;
      color: $colorDark25;
      transition: opacity $standardTransition;
    }

    &:focus {
      border-color: $colorDark50;
      transition: all $standardTransition;
    }

    &:focus::-webkit-input-placeholder {
      opacity: 0;
    }

    &:focus::-moz-placeholder {
      opacity: 0;
    }
  }

  &.with-arrow::after {
    color: $colorPurple;
    @include arrowForward;
  }
}
